.MuiOutlinedInput-notchedOutline,
.MuiSelect-outlined.MuiSelect-outlined,
.MuiOutlinedInput-root,
.MuiSelect-select:focus {
  border: none !important;
  border-color: unset !important;
  outline: unset !important;
}

.MuiSelect-select:focus {
  background-color: unset !important;
}
